---
layout: base
---

<section class="cell half-cell main-page-cell">
  <h2>Creating</h2>
  <ul class="projects">
    <li><a href="./noble/"><strong>noble</strong></a> <a href="./noble/">(homepage)</a> —
      0-dependency cryptography:
      <a href="https://github.com/paulmillr/noble-curves/">curves</a>,
      <a href="https://github.com/paulmillr/noble-hashes/">hashes</a>,
      4KB modules (<a href="https://github.com/paulmillr/noble-ed25519">ed25519</a>, <a href="https://github.com/paulmillr/noble-secp256k1">secp256k1</a>)
    </li>
    <li><strong>scure</strong> — audited non-cryptography:
      <a href="https://github.com/paulmillr/scure-base">base</a> (base64, base32, bech58...),
      <a href="https://github.com/paulmillr/scure-bip32">bip32</a>,
      <a href="https://github.com/paulmillr/scure-bip39">bip39</a>,
      <a href="https://github.com/paulmillr/scure-btc-signer">btc-signer</a>
    </li>
    <li>
      web3:
      <a href="https://github.com/ethereum/js-ethereum-cryptography">js-eth-cryptography</a>,
      signers (<a href="https://github.com/paulmillr/micro-eth-signer">eth</a>,
        <a href="https://github.com/paulmillr/micro-sol-signer">sol</a>), <a href="https://github.com/paulmillr/micro-web3">micro-web3</a> (with typed ABIs), <a href="https://github.com/paulmillr/tx-tor-broadcaster">tx-tor-broadcaster</a>
    </li>
    <li>
      utils:
      <a href="https://github.com/paulmillr/micro-should">should</a>,
      <a href="https://github.com/paulmillr/micro-bmark">bmark</a>,
      <a href="https://github.com/paulmillr/ed25519-keygen">ed25519-keygen</a> (ssh/pgp/tor),
      <a href="https://github.com/paulmillr/bls12-381-keygen">bls12-381-keygen</a> (eth2),
      <a href="https://github.com/paulmillr/qr">qr</a> (<a href="/demos/qr/">demo</a>),
      <a href="https://github.com/paulmillr/micro-otp">otp</a>,
      <a href="https://github.com/paulmillr/micro-password-generator">password-generator</a>,
      <a href="https://github.com/paulmillr/micro-aes-gcm">aes-gcm</a>,
      <a href="https://github.com/paulmillr/micro-packed">packed</a>,
      <a href="https://github.com/paulmillr/steg">steganography</a> (<a href="/demos/steg/">demo</a>)
    </li>
    <li><a href="https://github.com/paulmillr/chokidar">chokidar</a> (file watcher that was used in Visual Studio Code with 40M downloads/week), <a href="https://github.com/paulmillr/encrypted-dns">encrypted-dns</a>, <a href="https://github.com/paulmillr/dotfiles">dotfiles</a> (Mac / Linux / BSD configs)</li>
    <li>Old projects: <a href="https://github.com/brunch/brunch">brunch</a> (web app builder that was used to build Uber in 2012), <a href="https://github.com/chaplinjs/chaplin">chaplin</a>, <a href="https://github.com/paulmillr/es6-shim">es6-shim</a></li>
  </ul>
</section>

<section class="cell half-cell main-page-cell">
  <h2>Writing</h2>
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="post-date">{{ post.date | date: "%b %Y" }}</time> <span class="post-arrow{% if post.tags and post.tags contains 'libertarianism' %} is-lib{% endif %}">»</span>
      <a {% if post.external_link != null %}target="_blank" rel="external" href="{{ post.external_link }}"{% else %}href="{{ post.url }}"{% endif %}>{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
